<footer>
<div class="footerLeft">
    <img src="assets/img/AnnesLogo/logo_transparent.png" alt="Anne Eberhard logo">
    <a class="imprint" routerLink="imprint">Imprint</a> 
</div>
<div class="footerMiddle">
    <img src="assets/img/icons/copyright.png" alt="copyright Logo">
    <span>Anne Eberhard 2023</span>
</div>

<div class="footerRight">
    <img src="assets/img/icons/gitHub_big.png" alt="Github Logo">
    <img src="assets/img/icons/linkedIn_big.png" alt="LinkedIn Logo">
    <img src="assets/img/icons/email_big.png" alt="email logo">
</div>
</footer>
