.privacy {
    padding: 16px;

    h2 {
        font-size: 24px !important;
    }

    a {
        text-decoration: none;
        color: #4b47ff;
        cursor: pointer;

        &:hover {
            color: #00bee8;
        }
    }
}