.privacy {
    padding: 16px;

    h2 {
        font-size: 24px !important;
    }

    a {
        text-decoration: none;
        color: #4b47ff;
        cursor: pointer;

        &:hover {
            color: #00bee8;
        }
    }
}

.privacyHeader {
    display: flex;
    justify-content: space-between;
  
    a {
      img:hover {
        box-shadow: 1px 1px 4px 4px rgba(0, 190, 232, 0.2);
        background-color: rgba(0, 190, 232, 0.2);
        transform: scale(1.1);
      }
    }}

    .arrowUp {
        width: 39px;
        height: 39px;
        position: absolute;
        right: 100px;
        cursor: pointer;
        
        &:hover {
          path {
            fill: #00bee8;
          }
      
          rect {
            stroke: #00bee8;
          }
        }
      
        path, rect {
          transition: fill 0.3s, stroke 0.3s;
        }
      }
