<section id="contact">
  <div class="contactLeftHeader">
    <div class="line"></div>
    <h2>Contact</h2>
  </div>
  <div class="contactContent">
  <div class="contactLeft">

      <h3>Interested to learn more?</h3>
      <p>
        Contact me through this form if you like to hear more, have a problem to
        solve or an idea to pursue. I am interested to learn about your projects
        and how I could contribute to them.
      </p>
   
  </div>
  <div class="contactRight paddingStandardRight">
    <form #contactForm (submit)="sendMail($event)" ngNativeValidate>
      <input placeholder="Your name" class="alignCenter" required type="text" name="name" #nameField />
      <input placeholder="Your email" class="alignCenter" required type="email" name="email" #emailField />     
      <textarea placeholder="Your message" required name="message" #messageField ></textarea>
      <div id="privacyContainer">
        <div  #privacyContainerBox id="privacyContainerBox" (click)="checkPrivacy()" ></div>
        <p>I've read the  <a routerLink="privacy-police">privacy police</a> and agree to the progressing of my data as outlined.</p>
      </div>
      <div #privacyAlert id="privacyAlert" style="display: none;">Please accept the privacy police</div>
      <button type="submit" #sendButton disabled>Send message</button>
    </form>
  </div>
  </div>
</section>
