#contact {
  display: flex;
  flex-direction: column;
}

.contactContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

.line {
  height: 4px;
  width: 80px;
  margin-right: 20px;
  background-color: #4b47ff;
}

.contactLeft {
  display: flex;
  flex-direction: column;
  width: 50vw;

  h3 {
    color: white !important;
    padding-left: 100px;
  }

  p {
    padding-left: 100px;
  }
}

.contactLeftHeader {
  display: flex;
  align-items: center;
}

.contactRight {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    label {
      border: solid 1px #4b47ff;
      border-radius: 10px;
      padding: 15px 25px 15px 25px;
      display: flex;
      gap: 2px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;

      input {
        background-color: transparent;
        border: none;
        height: 50px;
      }

      textarea {
        background-color: transparent;
        border: none;
        height: 340px;
      }
    }

    button {
      border-radius: 10px;
      padding: 15px 30px 15px 30px;
      color: white;
      font-size: 24px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #b6b6b6;
    }
  }
}

#privacyContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  a {
    color: #4b47ff;
  }

  p {
    font-size: 14px;
  }
}

#privacyContainerBox {
  height: 24px;
  width: 28px;
  border: solid 2px #00bee8;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 20px 10px rgba(0, 190, 232, .2);
    background-color: rgba(0, 190, 232, .2);
  }
}

#privacyAlert{
    font-size: 14px;
    text-align: left;
    color: red;
    width: 100%;
    margin-bottom: 12px;;
}

.hoverButton {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: #00bee8;
    }

}