<section id="portfolio">
  <div class="portfolioHeader">
    <div class="portfolioHeaderTop">
      <div class="line"></div>
      <h2>Portfolio</h2>
      <div class="lineWide"></div>
    </div>
    <p translate>
      Please find below a sample of my work. Links lead either to the code on
      github or a live test.
    </p>
  </div>
  <div
    class="singlePortfolio"
    *ngFor="let item of portfolio; let i = index"
    [ngClass]="{ swapOrder: i % 2 !== 0 }"
  >
    <div class="portfolioLeft" data-aos="fade-left" id="{{ item.id }}">
      <img src="{{ item.image }}" alt="screenshot" />
    </div>
    <div
      class="portfolioRight"
      [ngClass]="{ alignFlexEnd: i % 2 !== 0 }"
      data-aos="fade-left"
    >
      <h3>{{ item.header }}</h3>
      <span translate>{{ item.subheader }}</span>
      <p [ngClass]="{ alignFlexEnd: i % 2 !== 0 }">
        {{ item.text | translate }}
      </p>
      <div class="portfolioButtons" [ngClass]="{ justifyFlexEnd: i % 2 !== 0 }">
        <a target="_blank" href="{{ item.linkLive }}" class="buttonLive"
          >Live Test</a
        >
        <a target="_blank" href="{{ item.linkGit }}" class="buttonGit"
          >GitHub</a
        >
      </div>
      <div  *ngIf="item.linkBack || item.linkBackGit" class="portfolioButtons" [ngClass]="{ justifyFlexEnd: i % 2 !== 0 }">
        <a target="_blank" href="{{ item.linkBack }}" class="buttonLive"
          >Backend</a
        >
        <a target="_blank" href="{{ item.linkBackGit }}" class="buttonGit"
          >BE GitHub</a
        >
      </div>
    </div>
  </div>
  <div class="shadowBox">
    <img class="portfolioShadow1" src="assets/img/shadows/blue2.png" />
  </div>
</section>
<img class="portfolioShadow2" src="assets/img/shadows/petrol2.png" />
