#portfolio {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.portfolioHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  p {
    z-index: 999;
  }
}

.portfolioHeaderTop {
  display: flex;
  align-items: center;

  h2 {
    background-color: #141d2f;
    z-index: 99;
    padding: 20px;
  }
}

.line {
  height: 4px;
  width: 80px;
  background-color: #4b47ff;
}

.lineWide {
  height: 4px;
  width: 600px;
  background-color: #4b47ff;
  position: absolute;
  right: 0;
}

.singlePortfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.portfolioLeft {
  z-index: 99;
  img {
    width: 30vw;
  }
}

.portfolioRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
  span {
    font-size: 20px;
    font-weight: 400;
    color: #00bee8;
  }

  h3 {
    margin:0;
  }

  p {
    margin-bottom: 35px;
    display: flex;
  }
}

.portfolioButtons {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom:8px;

  a {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: 140px;
    height: 40px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.buttonLive {
  background-color: #00bee8;
  border: none;

  &:hover {
    background-color: #4b47ff;
  }
}

.buttonGit {
  background-color: transparent;
  border: solid 2px #00bee8;
  &:hover {
    border: solid 2px  #4b47ff;
  }
}

.swapOrder {
  display: flex;
  flex-direction: row-reverse;
}

.alignFlexEnd {
  align-items: flex-end;
  text-align: end;
}

.justifyFlexEnd {
  justify-content: flex-end !important;
}

.portfolioShadow1 {
  position: absolute;
  width: 636px;
  height: 748.73px;
  top: 2500px;
  left: -100px;
}

.portfolioShadow2 {
  position: absolute;
  width: 636px;
  height: 748.73px;
  top: 3000px;
  right: 0px;
}
@media (max-width: 1200px) {
  #portfolio {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1060px) {
  .portfolioButtons {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;

    a {
      padding: 15px 20px 15px 20px;
      width: 100px;
      height: 30px;
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  #portfolio {
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolioLeft {
    img {
      width: 60vw;
    }
  }

  .portfolioRight {
    justify-content: center;
    align-items: center;
  }

  .singlePortfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .swapOrder {
    display: flex;
    flex-direction: column;
  }

  .alignFlexEnd {
    align-items: center;
    text-align: center;
  }

  .portfolioButtons {
    justify-content: center !important;
  }

  .portfolioShadow1{
    width: 318px;
    height: 274px;
  }

  .portfolioShadow2{
    width: 318px;
    height: 274px;
  }
}

@media (max-width:350px) {
  .portfolioHeaderTop {
    display: flex;
    justify-content: flex-end;
  
    h2 {
      background-color: transparent;
    }
  }
  
  .line {

    width: 20px;
  
  }
  
  .lineWide {
    z-index: 99;
    width: 40px;
  }
  
  .portfolioShadow2{
    top: 3400px;
  }
}
