
<section id="mySkills">
    <div class="mySkillsLeft paddingStandardLeft">
        <div class="skillsIcons" *ngFor="let skill of skillSet" >
            <img src="{{ skill.icon}}" alt="{{ skill.alt}}">
            <h4>{{ skill.title}}</h4>
        </div>
    </div>
    <img class="mySkillsShadow" src="assets/img/shadows/petrol1.png">
    <div class="mySkillsRight">
        <div class="mySkillsRightTop">
            <div>
              <h2 class="name" translate>My skills</h2>
              <p translate>The frontend skills I learned during my online course I have now grown and are able to employ in real-life projects</p>
            </div>
            <button (click)="scrollToSection('contact')" translate>Get in touch</button>
          </div>
          <div class="line"></div>
    </div>
  </section>