
<section id="mySkills">
    <div class="mySkillsLeft paddingStandardLeft">
        <div class="skillsIcons">
            <img src="assets/img/icons/angular_big.png" alt="angular logo">
            <h3>Angular</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/css_big.png" alt="css logo">
            <h3>CSS</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/firebase_big.png" alt="firebase logo">
            <h3>Firebase</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/git_big.png" alt="git  logo">
            <h3>GIT</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/html_big.png" alt="html logo">
            <h3>HTML</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/js_big.png" alt="javascript logo">
            <h3>JavaScript</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/matdes_big.png" alt="material design logo">
            <h3>Material<br>design</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/api_big.png" alt="rest-api logo">
            <h3>REST-API</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/scrum_big.png" alt="scrum logo">
            <h3>Scrum</h3>
        </div>
        <div class="skillsIcons">
            <img src="assets/img/icons/ts_big.png" alt="typescript logo">
            <h3>TypeScript</h3>
        </div>
    </div>
    <div class="mySkillsRight">
        <div class="mySkillsRightTop">
            <div>
              <h2 class="name">My skills</h2>
              <p>The frontend skills I learned during my online course I have now grown and are able to employ them in real-life projects</p>
            </div>
            <button (click)="scrollToSection('contact')">Get in touch</button>
          </div>
          <div class="line"></div>
    </div>
  </section>