#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topLeft {
  display: flex;
  flex-direction: column;
  img {
    cursor: pointer;
    width: 30px;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    text-decoration: none;
    color: white;
    gap: 29px;
    cursor: pointer;

    &:hover {
      color: #00bee8;
    }
  }
}


.shadow {
  width: 40vw !important;
}

.topShadow {
  background-image: url(/assets/img/shadows/purple-petrol.png);
  background-position: center;
  background-size: cover;
  height: 500px;
  width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioImage {
  height: 300px;
  width: 352px !important;
  margin-left: 100px;
}

.topLeftBottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 
.line {
  height: 4px;
  width: 100px;
  background-color: #4B47FF;
 }
 
.topLeftBottomContent {
  display: flex;
  gap: 29px;
  align-items: center;
  padding-left: 42px;
}


.topRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  gap:35px;

  button {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    background-color: #00bee8;
    width: 168px;
    height: 60px;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;

        &:hover {
            background-color:  #4b47ff;
            transform: scale(1.1);
        }
  }
}

.topRightTop {
  display: flex;
}

.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 52px;
  padding: 8px;
}

.name {
  text-align-last: justify;
  width: 100%;
}

.job {
  color: #4b47ff !important;
  font-size: 46px;
  text-align-last: justify;
}
