<section id="top">
  <div class="topLeft">
    <img src="assets/img/shadows/purple-petrol.png" class="shadow paddingStandardLeft" />
    <div class="topLeftBottomContainer">
      <div class="line"></div>
      <div class="topLeftBottomContent">
      <a target="_blank" href="https://github.com/AnneEberhard">
        <img src="assets/img/icons/gitHub_big.png" alt="Github Logo" /></a>
      <a target="_blank" href="https://de.linkedin.com/in/dr-med-anne-eberhard-mph-8557441a?challengeId=AQHzz5fGVvitKAAAAYuU-8XE1XChr00f7fJr5_mIB_S9YS9djBjbEHzdIO6HO8zdSozJl1q37qm1sM9voVERv46AwBbBqmfI-w&submissionId=96c96caa-0e1a-9417-bad9-4047b14dee48&challengeSource=AgGznj6ofLhLZQAAAYuU-8xtFZIYAYOSXfUjLLqahnu9ZDWeLyE6Cluy7JJfJsU&challegeType=AgHzTmueG9RADgAAAYuU-8xwCnVtDctU_Lm-ifCKqB6CELVYTm6bVTg&memberId=AgETLr85A_wnZgAAAYuU-8xzWGq_aFGThJPA_Werg1WwLG4&recognizeDevice=AgGWIfsTOjTZbAAAAYuU-8x1H97CjchJslqoHPU1wXEufet2OO36">
        <img src="assets/img/icons/linkedIn_big.png" alt="LinkedIn Logo" /></a>
      <a (click)="scrollToSection('contact')">
        <img src="assets/img/icons/email_big.png" alt="email logo" /></a>
      <a (click)="scrollToSection('contact')">anne.eberhard@gmx.net</a>
    </div>
  </div>
  </div>

  <div class="topRight paddingStandardRight">
    <div class="topRightTop">
      <div class="vertical">I am</div>
      <div>
        <h2 class="name">Anne Eberhard</h2>
        <div class="job">FRONTEND DEVELOPER</div>
      </div>
    </div>
    <button (click)="scrollToSection('contact')">Let's chat</button>
  </div>
</section>
